/* Css barra laterl */
.sidebar {
    height: 100vh;
    background-color: #2e7d32;
    color: white;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    padding: 0;
    z-index: 1000;
    transition: all 0.3s ease;
}

.nav-link {
    color: rgba(255, 255, 255, 0.9);
    padding: 15px 20px;
}

.nav-link:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
}

.nav-link i {
    width: 20px;
    margin-right: 10px;
    text-align: center;
}

.sidebar-separator {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 10px 15px;
}

.sidebar-logo {
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.sidebar-logo img {
    max-width: 150px;
    border-radius: 50%;
}

.sidebar-toggle {
    display: none;
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #2e7d32;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    z-index: 1001;
    cursor: pointer;
    font-size: 20px;
}


/* Cabeçalho */
.header {
    position: fixed;
    top: 0;
    left: 250px;
    width: calc(100% - 250px);
    background-color: #81c784;
    color: #1b5e20;
    padding: 15px 20px;
    z-index: 900;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.header h1 {
    margin: 0;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

/* Estilo para ajustar o conteúdo principal */
.main-content {
    margin-left: 250px;
    padding-top: 60px;
    background-color: #f1f8e9;
    min-height: 100vh;
    padding-bottom: 60px;
    transition: all 0.3s ease;
}

/* Rodapé */
.footer {
    position: fixed;
    bottom: 0;
    left: 250px;
    width: calc(100% - 250px);
    background-color: #81c784;
    color: #1b5e20;
    padding: 15px 20px;
    z-index: 900;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    text-align: center; 
    transition: all 0.3s ease;
}

.footer a {
    text-decoration: none;
    color: #1b5e20;
}

.footer a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%); /* Esconde a sidebar fora da tela */
        box-shadow: 3px 0 5px rgba(0,0,0,0.2);
    }
    
    .sidebar.active {
        transform: translateX(0); /* Mostra a sidebar quando tiver a classe active */
    }
    
    .sidebar-toggle {
        display: block; /* Mostra o botão de toggle */
    }
    
    .header,
    .footer,
    .main-content {
        left: 0;
        width: 100%;
        margin-left: 0;
    }
    
    /* Classes adicionais quando a sidebar estiver aberta */
    .header.sidebar-open, 
    .main-content.sidebar-open, 
    .footer.sidebar-open {
        margin-left: 250px;
    }
}
